# Dependencies
node_modules/

# Hardhat
cache/
artifacts/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Coverage
coverage/
coverage.json

# Typechain
typechain/
typechain-types/